* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Open Sans fonts
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.woff2');
	font-weight: normal;
	font-style: normal;
}

// Source Sans fonts
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.eot'),
	 	 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.svg') format('svg'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.ttf'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.woff'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.eot'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.svg') format('svg'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.ttf'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.woff'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.eot'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.svg') format('svg'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.ttf'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.woff'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.woff2');
	font-weight: normal;
	font-style: normal;
}

$mainText-color: #616161;
$link-color: #158FEF;
$mainFontFamily: 'Open Sans', sans-serif;

@mixin mainFontSettings {
	font-family: $mainFontFamily;
	font-style: normal;
	text-align: center;
}

@mixin bodyText{
	color: $mainText-color;
	font-size: 16px;
	font-weight: normal;
}

.main__block {
	display: none;
}


@media only screen and (min-width: 641px) {
	.main__block {
		background-color: #F2F7FC;
		height: 100vh;
		display: block;
	}

// LANDING TEXT --------------

	.landingText__title {
		@include mainFontSettings;
		color: #444444;
		font-size: 34px;
		font-weight: 700;
		margin: 0 auto;
		padding-top: 2.3em;
		width: 50%;
	}

	.landingText__desc {
		@include mainFontSettings;
		@include bodyText;
		line-height: 1.6;
		margin: 0 auto;
		padding: 2em 0;
		width: 80%;
	}

// CONTENT SWITCHER -------------

	.contentSwitcher {
		margin: 0 0.7em 5.5em 0.7em;
	}

	.contentSwitcher__item {
		cursor: pointer;
		display: block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		height: 48px;
		outline: 0;
		width: 33.3333333%;
	}

	.contentSwitcher__item--active {
		background-color: #546E7A;
		color: #FFFFFF;
	}

	.contentSwitcher__item--unactive {
		background-color: #FFFFFF;
		color: $link-color;
	}

	.contSwitcher__item--start {
		border: none;
		border-radius: 2px 0 0 2px;
		float:left;
	}

	.contSwitcher__item--middle {
		border-bottom: none;
		border-left-color: #D3DCE4;
		border-left-width: 1px;
		border-right-color: #D3DCE4;
		border-right-width: 1px;
		border-top: none;
		float: left;
	}

	.contSwitcher__item--end {
		border: none;
		border-radius: 0 2px 2px 0;
		float: right;
	}

	.frontEndContent {
		display: none;
	}

	.serverSideContent {
		display: none;
	}

	// CONTENT SWITCHER CONTENT

	.content__text--second {
		margin-bottom: 2em;
	}

	.content__text {
		@include mainFontSettings;
		@include bodyText;
		line-height: 1.9;
	}

	.content__text--step {
		font-weight: 600;
	}

	.content__text--library {
		color: $link-color;
	}

	// TEXT EDITOR --------------

	.content__textEditor {
		// height: 241px;
		margin: 0 auto;
		width: 621px;
	}

	.textEditor__head {
		background-color: #000000;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.textEditor__head__title {
		color: #FFFFFF;
		font-family: $mainFontFamily;
		font-size: 14px;
		font-weight: 600;
		padding: 1em;
	}

	.textEditor__body {
		background-color: #1A2327;
		width: 100%;
        overflow-x: auto;
	}

	.textEditor__body::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	.textEditor__body::-webkit-scrollbar-thumb {
		background-color: #C1C1C1;
		border-radius: 8px;
		border: 2px solid #FFFFFF;
	}

	.textEditor__body::-webkit-scrollbar:horizontal {
		background-color: #FFFFFF;
		border: none;
		height: 8px;
	}

	.textEditor__body__numberList {
		float: left;
		padding: 1em 0 1em 1em;
	}

	.textEditor__body__list__listItem {
		color: #78909C;
		font-size: 14px;
		font-family: monospace, monospace;
		font-weight: 900;
		list-style-type: none;
		padding: 0.3em 0;
	}

	.textEditor__body__list__listItem--space {
		display: none;
	}

	.textEditor__body__codeList {
		color: #78909C;
		font-size: 14px;
		font-family: monospace, monospace;
		list-style: none;
		padding: 1em 0 1em 3.5em;
	}

	.textEditor__body__codeList--erroAndCrashes {
		width: 900px;
	}

	.textEditor__body__codeList--FrontEnd {
		width: 1200px;
	}

	.textEditor__body__listItem--comment {
		color: #90A4AE;
		padding: 0.35em 0;
	}

	.textEditor__body__listItem--code {
		color: #90A4AE;
		padding: 0.35em 0;
	}

	.textEditor__body__listItem--space {
		height: 23px;
	}

	.code--tag {
		color: #FFFFFF;
	}

	.code--attr {
		color: #62CCD4;
	}

	.code--value {
		color: #FB7A31;
	}

	.code--jsTag {
		color: #FC1E70;
	}

	.code--jsAttr {
		color: #61D8EF;
	}

	.code--jsValue {
		color: #E6DC6D;
	}

	.code--jsfunc {
		color: #60D9F1;
	}

	.code--jsAsyncVal {
		color: #AF7DFF;
	}

	.code--jsString {
		color: #A4E406;
	}

	// Server-Side Performace --------------

	.serverSideContent {
	    margin: 0 auto;
	    max-width: 641px;
	}

	.serverSideContent__stepText {
		@include mainFontSettings;
		color: #616161;
		margin-top: 6.3em;
	}

	.serverSideContent__stepText--single {
		display: inline-block;
		padding: 0 1.8em;
	}

	.step--stepnum {
		display: block;
	}

	.step--stepinstruct {
		display: block;
	}

	.step--stepnum {
		font-weight: 600;
	}

	.step__img--serverDownload {
		padding: 0em 3em;
	}

	.step__img--agentSet {
		padding: 0em 0.4em;
	}

	.step__img--agentConfig {
		padding: 0em 1.8em;
	}
}

@media only screen and (min-width: 1025px) {

	.landingText__title {
		width: 100%
	}

	.landingText__desc {
		width: 800px;
	}

	.contentSwitcher {
		height: 50px;
		width: 990px;
		margin: 1em auto;
		display: flex;
		justify-content: center;
	}

	.contentSwitcher__item {
		display: inline-block;
		text-align: center;
		width: 24%;
	}

	.contSwitcher__item--end{
		float: left;
	}

	.contentSwitcherContent__textWrapper {
	 	margin-top: 2.6em;
		text-align: center;
	}

	.content__text {
		display: inline-block;
	}

	.content__text--second{
		margin-left: 0.7em;
		margin-bottom: 1.5em;
	}

	.content__textEditor {
		width: 970px;
	}

	.textEditor__body__list__listItem--space {
		display: block;
	}

	.serverSideContent__stepText {
		margin-top: 3.3em;
	}

	.serverSideContent {
		max-width: 900px;
	}

	.serverSideContent__stepText--single {
		padding: 0 4.7em;
	}

	.step__img--serverDownload {
    	padding: 0em 5em;
	}

	.step__img--agentSet {
    	padding: 0em 4em;
	}

	.step__img--agentConfig {
    	padding: 0em 4em;
	}
}
