* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Open Sans fonts
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300.woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-300italic.woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600.woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-600italic.woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-700.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-800.woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-italic.woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.eot'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.svg') format('svg'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.ttf'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.woff'),
		 url('../assets/web-fonts/open-sans-v14/open-sans-v14-latin-regular.woff2');
	font-weight: normal;
	font-style: normal;
}

// Source Sans fonts
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.eot'),
	 	 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.svg') format('svg'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.ttf'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.woff'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-600.woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.eot'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.svg') format('svg'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.ttf'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.woff'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-700.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.eot'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.svg') format('svg'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.ttf'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.woff'),
		 url('../assets/web-fonts/source-sans-pro-v11-latin/source-sans-pro-v11-latin-regular.woff2');
	font-weight: normal;
	font-style: normal;
}

$mainText-color: #616161;
$link-color: #158FEF;

@mixin mainFontSettings {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-align: center;
}

@mixin bodyText{
	color: $mainText-color;
	font-size: 16px;
	font-weight: normal;
}

.main {
	display: none;
}


@media only screen and (min-width: 641px) {
	.main {
		background-color: #F2F7FC;
		display: block;
	}

// LANDING TEXT --------------

	.landingText__title {
		@include mainFontSettings;
		color: #444444;
		font-size: 34px;
		font-weight: 700;
		margin: 0 auto;
		padding-top: 3em;
		width: 50%;
	}

	.landingText__desc {
		@include mainFontSettings;
		@include bodyText;
		line-height: 1.6;
		margin: 0 auto;
		padding: 2em 0;
		width: 80%;
	}

// CONTENT SWITCHER -------------

	.contentSwitcher {
		margin: 0 0.7em 5.5em 0.7em;
	}
	.contentSwitcher__item {
		cursor: pointer;
		display: block;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		height: 48px;
		outline: 0;
		width: 33.3333333%;
	}

	.contentSwitcher__item--active {
		background-color: #546E7A;
		color: #FFFFFF;
	}

	.contentSwitcher__item--unactive {
		background-color: #FFFFFF;
		color: $link-color;
	}

	.contSwitcher__item--start {
		border: none;
		border-radius: 2px 0 0 2px;
		float:left;
	}

	.contSwitcher__item--middle {
		border-bottom: none;
		// border-left: 0.01em;
		border-left-color: #D3DCE4;
		border-left-width: 1px;
		// border-right: 0.01em;
		border-right-color: #D3DCE4;
		border-right-width: 1px;
		border-top: none;
		float: left;
	}

	.contSwitcher__item--end {
		border: none;
		border-radius: 0 2px 2px 0;
		float: right;
	}

	.frontEndContent {
		display: none;
	}

	.serverSideContent {
		display: none;
	}

	// CONTENT SWITCHER CONTENT

	.errorCrashesContent__text--second {
		margin-bottom: 2em;
	}

	.errorCrashesContent__text {
		@include mainFontSettings;
		@include bodyText;
		line-height: 1.9;
	}

	.errorCrashesContent__text--step {
		font-weight: 600;
	}

	.errorCrashesContent__text--library {
		color: $link-color;
	}

	.errorCrashesContent__textEditor {
		height: 241px;
		width: 621px;
	}

	.textEditor__head {
		background-color: #000000;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
}
